@import "tailwindcss";

@theme {
  --color-grey-light: #cbcbcb;
  --color-grey-medium: #929292;
  --color-grey-dark: #6f6f6f;
  --color-green-light: #dfecc6;
  --color-green-medium: #8e9c78;
  --color-green-dark: #485c11;

  --font-crimson: "Crimson Text";
  --font-dm-san: "DM Sans";
  --font-rob-mono: "Roboto Mono";

  --text-h1: 8.75rem; /* 140px */
  --text-h2: 3.375rem; /* 54px */
  --text-h3: 2.5rem; /* 40px */
  --text-h4: 1.125rem; /* 18px */

  --text-para: 0.9375rem; /* 15px */
  --text-ui: 0.875rem; /* 14px */
  --text-label: 0.75rem; /* 12px */

  --text-xxs: 0.65rem; /*approx 10.5px*/

  --breakpoint-smth0: 441px;
  --breakpoint-myxl: 1168px;
}
/* 
* {
  outline: 1px solid red;
} */
